div.SidebarNav{
	text-transform: uppercase;
	text-decoration: none;
	padding: 0.5rem;
	transition: all 0.4s ease 0s;
	text-align: center;
	font-weight: bold;
	position: absolute;
	color: #FEFEFE;
	display: block;
	border-radius: 50%;
	left: 110px;
	top: 2rem;
	font-size: 2rem;
	line-height: 2rem;
	cursor: pointer;
	box-sizing: border-box;
	border: 3px solid #CCC;
	background: #153957;
}

div.SidebarNav:hover{
	background: #80BAEA;
	-webkit-box-shadow: 0 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
	transform: scale(1.1);
}
