.Main {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	flex-grow: 4;
	flex-wrap: wrap;
	background: #FEFEFE;
	border-radius: 2rem 0 0 2rem;
}

.Main * {
	color: #131313;
}

.Main h2 {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.Notes-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;

}
