.Sidebar {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	flex-basis: 1;
	min-width: 250px;
	max-width: 250px;
	background: #153957;
}

.Sidebar a,
.Sidebar a:visited,
.Sidebar a:active,
.Siderbar a:hover {
	color: #FEFEFE;
}

.Sidebar h2 {
	text-align: center;
}
